.tasks-list {
  display: flex;
  flex-direction: column;
}

.task {
  background-color: #e5f0ff;
  border: 1px solid #dfe1e5;
  display: flex;
  flex-direction: inherit;
  padding-left: 20%;
  padding-right: 20%;
}

.add-button {
  margin-top: 5%;
}
